/* CSS declarations go here */
.error {
    border: 1px solid #C0C0C0;
    padding: 5px;
    background: #F0F0F0;
}

.error .header {
    color: red;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/onemin.gif') no-repeat center center;
}